body {
  background: blanchedalmond;
  margin: 0;
  text-align: center;
}

:root {
  --grey: grey;
  --light-grey: lightgrey;
  --light-blue: lightblue;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.a {
  min-height: 30vh;
  flex-grow: 5;
  background-color: var(--grey);
}

.b {
  min-height: 30vh;
  flex-grow: 5;
}

.c {
  min-height: 30vh;
  flex-grow: 5;
}

.box-a {
  width: auto;
  padding-top: 130px;
  padding-bottom: 130px;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  text-align: center;
  background-color: gray;
  border-color: lightgray;
  border: 45px solid lightgray;
  font-size: 10em;
  font-family: sans-serif;
  color: black;
}

.box-b {
  width: 85%;
    float: left;
    padding-top: 387px;
    padding-bottom: 387px;
    /* padding-left: 5px; */
    padding-right: 4px;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    text-align: center;
    border: 45px solid lightgray;
    font-size: 10em;
}

.box-c {
  height: 100%;
  width: 40%;
  float: right;
  padding-top: 130px;
  padding-bottom: 130px;
  padding-left: 5px;
  /* padding-right: 5px; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  text-align: center;
  background-color: gray;
  border-color: lightgray;
  border: 45px solid lightgray;
  font-size: 10em;
  font-family: sans-serif;
  color: black;
}

@media (min-width: 600px) {
  .container {
    display: flex;
  }

  .box-a {
    max-width: 100%;
  }

  .box-b {
    max-width: 50%;
    max-height: 50%;
    grid-column: left;
    grid-template-columns: subgrid;
  }

  .box-c {
    max-width: 37%;
    max-height: fit-content;
    max-block-size: 100%;
    grid-column: right;
  }

}